a,
li,
ul {
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}
p {
  font-family: "Montserrat", sans-serif;
}
.logo--img {
  width: 200px;
}

.seach-button {
  background: #ffc821;
  font-weight: 600;
  font-size: 17px;
  border: none;
  color: #fff;
  transition: 1s;
  color: #333333;
}

.nav-item {
  font-size: 14px;
}

.seach-button:hover {
  background: #333333;

  color: #ffc821;
  transition: 1s;
}

.login-button {
  background: #ffc821;
  font-weight: 500;
  color: #fff;
  border: none;
  margin-left: 15px;
  padding: 10px 15px 10px 15px;
  text-align: center;
  transition: 1s;
}

.login-button:hover {
  background: #333333;
  color: #ffc821;
  transition: 1s;
}

.busqueda-navbar {
  justify-content: space-around;
}

.carousel-inner {
  height: 500px;
}

.component-menu-lateral {
  margin-top: 50px;
  margin-bottom: 50px;
  background: #f8f9fa;
  font-family: "Montserrat", sans-serif;
  height: 600px;
  border-radius: 20px;
}

.component-menu-lateral-admin {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 30px;
  background: #f8f9fa;
  border-radius: 30px;
}

.busquedaFiltro {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffc821;
  background: #333333;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.accordion-button {
  font-size: 13px;
}

.accordion-button:not(.collapsed) {
  font-weight: 600;
  background-color: transparent;
  color: #333333;
  border: none;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button:focus {
  z-index: 3;
  border-color: none;
  outline: 0;
  box-shadow: none;
}

.accordion-body li a {
  padding-top: 6px;
  font-size: 14px;
  color: #333333;
}

.accordion-body li a:hover {
  padding-top: 6px;
  font-size: 14px;
  color: #ffc821;
  font-weight: 700;
}

.accordion-body ul {
  padding: 0px;
}

.nav-item a:hover {
  color: #ffc821;
  font-weight: 500;
  transition: 0.9ms;
}

.productosCards {
  margin-top: 50px;
}

.card {
  border-radius: 15px;
}

.card img {
  padding: 10px;
}

.card-body {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.addCarrito a {
  background: #333333;
  width: 40px;
  color: #ffc821;
  position: absolute;
  height: 40px;
  text-align: center;
  bottom: -12px;
  right: -8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.removeCarrito {
  background: transparent;
  font-size: 25px;
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addCarrito a:hover {
  color: #fff;
}

.card-title {
  font-size: 15px;
}

.price {
  color: #ffc821;
  font-weight: 600;
  margin-top: 0px;
  font-size: 22px;
}

.price2 {
  color: #ffc821;
  font-weight: 600;
  margin-top: 0px;
  font-size: 22px;
}

.carrito {
  font-size: 14px;
}

.shopcart {
  margin-top: 30px;
  margin-left: 20px;
}

.usuario-box {
  align-items: center;
}

.fa-shopping-cart {
  font-size: 16px;
}

@media (max-width: 1200px) {
  .carousel-inner {
    height: 100%;
    width: 100%;
  }
}

.hidden-card {
  display: none;
}

.visible-card {
  display: block;
}

.img-selda {
  width: 100px;
  height: 100px;
}
.offcanvas-end {
  width: 600px;
}

.shopingCartImagen {
  width: 100px;
  margin-right: 30px;
}

.shopingCartParrafo {
  font-size: 12px;
}

.btn-primary {
  border: none;
}

.footerline {
  margin-top: 80px;
}
.backg {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1098%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsSymbol1105' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1105' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1098'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1103'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1102'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1100'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1101'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1099'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1104'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1105'%3e%3cuse xlink:href='%23SvgjsPath1099' x='30' y='30' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='30' y='90' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='30' y='150' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='30' y='210' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='30' y='270' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='30' y='330' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='30' y='390' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='30' y='450' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='30' y='510' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='30' y='570' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='90' y='30' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='90' y='90' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='90' y='150' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='90' y='210' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='90' y='270' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='90' y='330' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='90' y='390' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='90' y='450' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='90' y='510' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='90' y='570' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='150' y='30' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='150' y='90' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='150' y='150' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='150' y='210' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='150' y='270' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='150' y='330' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='150' y='390' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='150' y='450' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='150' y='510' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='150' y='570' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='210' y='30' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='210' y='90' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1104' x='210' y='150' stroke='rgba(255%2c 200%2c 33%2c 0.13)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='210' y='210' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='210' y='270' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1104' x='210' y='330' stroke='rgba(255%2c 200%2c 33%2c 0.13)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='210' y='390' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='210' y='450' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='210' y='510' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='210' y='570' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='270' y='30' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='270' y='90' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='270' y='150' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='270' y='210' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='270' y='270' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='270' y='330' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='270' y='390' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='270' y='450' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='270' y='510' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='270' y='570' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='330' y='30' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='330' y='90' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='330' y='150' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='330' y='210' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='330' y='270' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='330' y='330' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='330' y='390' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='330' y='450' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='330' y='510' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='330' y='570' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='390' y='30' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='390' y='90' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='390' y='150' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1104' x='390' y='210' stroke='rgba(255%2c 200%2c 33%2c 0.13)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='390' y='270' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='390' y='330' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1104' x='390' y='390' stroke='rgba(255%2c 200%2c 33%2c 0.13)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='390' y='450' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='390' y='510' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1104' x='390' y='570' stroke='rgba(255%2c 200%2c 33%2c 0.13)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='450' y='30' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='450' y='90' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='450' y='150' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='450' y='210' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='450' y='270' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1104' x='450' y='330' stroke='rgba(255%2c 200%2c 33%2c 0.13)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='450' y='390' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='450' y='450' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='450' y='510' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='450' y='570' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='510' y='30' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='510' y='90' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='510' y='150' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='510' y='210' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='510' y='270' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='510' y='330' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='510' y='390' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='510' y='450' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='510' y='510' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='510' y='570' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='570' y='30' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='570' y='90' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='570' y='150' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='570' y='210' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='570' y='270' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='570' y='330' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='570' y='390' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='570' y='450' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='570' y='510' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='570' y='570' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='630' y='30' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='630' y='90' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='630' y='150' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='630' y='210' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='630' y='270' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='630' y='330' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='630' y='390' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='630' y='450' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='630' y='510' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='630' y='570' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='690' y='30' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='690' y='90' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='690' y='150' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='690' y='210' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='690' y='270' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='690' y='330' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='690' y='390' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='690' y='450' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='690' y='510' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='690' y='570' stroke='rgba(255%2c 200%2c 33%2c 0.13)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
}
